#outerContainer {
  background-color: #c0c0c0;
}
.container {
  width: 70%;
  margin: 0 auto;
  background-color: #003366;
}
.container fieldset {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 4px solid black;
  padding: 20px;
  background: #cccccc;
}
.container fieldset legend {
  color: rgb(5, 1, 12);
  background: gold;
  padding: 10px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
}
html,
body {
  min-height: 100%;
}
h2 {
  color: black;
}

body,
div,
form,
input,
select,
p {
  padding: 2em;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  color: black;
  font-weight: bold;
  line-height: 22px;
}
h1 {
  margin-left: 270px;
  margin-top: 0px;
  font-weight: 800;
  border: 6px solid black;
  font-style: italic;
  background-color: #cccccc;
  color: black;
  text-align: center;
  padding: 27px;
  font-size: 35px;
  width: 60%;
}

form {
  width: 100%;
  padding: 20px;
  background: white;
  box-shadow: 0 2px 5px #ccc;
  border-color: #095484;
}
input,
select,
textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input {
  width: calc(100% - 10px);
  padding: 5px;
}

input:hover,
select:hover,
textarea:hover,
.preferred-metod label:hover input {
  box-shadow: 0 0 5px 0 #095484;
}

button {
  width: 150px;
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #095484;
  color: white;
  font-size: 16px;
  cursor: pointer;
  font-weight: 300;
  margin-left: 87%;
}
button:hover {
  background-color: gold;
  color: black;
}
